*{
    margin: 0;
    padding: 0;
    outline: 0 auto;
    box-sizing: border-box;
}

/* about start */
.bg1{
    background-color: #070D1B;
    
}



.main-content{
    
    height:20px;
    overflow: hidden;
}
.card-title{
    font-size: 30px;
    font-weight: 700;
}
.card-text{
    line-height: 24px;
    font-size: 15px;
    color: #6d6d6d;
}
.btn1{
    background: transparent;
    border: 2px solid #FF714A;
    
}
.btn1 a{
    text-decoration: none;
}
.btn1:hover{
    background-color: #FF714A;
   transition: 1s ease;
}



/* service start */
.skills0{
    position: relative;
}
.skills1{
    color: #FFFF;
    font-size: 32px;
    margin-left: 6rem;
}
span{
    color: #FF714A;
}
.skills1::before{
    content: '';
    position: absolute;
    width:170px;
    height: 2px;
    left:45%;
    margin-top: 3rem;
    background-color: #3f4551;

}
.skills1::after{
    content: '';
    position: absolute;
    width:70px;
    height: 2px;
    left:56%;
    transform: translateX(-50%);
    margin-top: 3rem;
    
    background-color: #FF714A;

}
.text22{
    position: relative;
    font-size: 80px;
    font-weight: 700;
    color: rgba(81, 91, 117, 0.072);
    margin: 0;
    margin-top: -4rem;
    margin-left: 4rem;
    top: 0;
    width: 100%;
    text-transform: uppercase;

}
.fm{
    font-size: 50px;
    color: #3f4551;
    border: 1px solid  #3f4551 ;
    border-radius: 50%;
    background-color: #070d1b;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.card1,.card2{
    padding: 20px;
    border-radius: 10px;
    background-color: #101624;
    margin-left: 15px;
    width: 21.8rem;
}
.t1{
    font-size: 20px;
}



.card1:hover .card-title {
    color: #FF714A;
    transition: .7s ease;
  }
  .card2:hover .card-title{
    color: #FF714A;
    transition: .7s ease;
  }
  .card1:hover  .fm {
    color: #FF714A;
    border: 1px solid  #FF714A;
    transition: .7s ease;
  }
  .card2:hover  .fm{
    color: #FF714A;
    border: 1px solid  #FF714A;
    transition: .7s ease;
  }
  .card-text{
    font-size: 14px;
    color: #8d8e90;
  }
  




/* about end */