.nav-link {
    transition: all 0.4s ease;
  }
  
  .nav-link i {
    transition: color 0.4s ease;
  }
  
  .nav-link.active {
    background-color: #0c1425;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .nav-link.active i {
    color: #2FBF71 !important;
  }
  @keyframes fadeInActive {
    from {
      background-color: transparent;
      color: #ccc;
    }
    to {
      background-color: #0c1425;
      color: #ffffff;
    }
  }
  
 .navbar{
    position: sticky !important;
    top: 0;
    z-index: 999;
}
.bg1{
    background-color: #070D1B;
    
}
.skills0{
    position: relative;
}
.skills1{
    margin-top: 5rem;
    color: #FFFF;
    font-size: 32px;
}
span{
    color: #2FBF71;
}
.skills1::before{
    content: '';
    position: absolute;
    width:167px;
    height: 2px;
    left:50%;
    transform: translateX(-50%);
    margin-top: 3rem;
    background-color: #3f4551;

}
.skills1::after{
    content: '';
    position: absolute;
    width:70px;
    height: 2px;
    left:50%;
    transform: translateX(-50%);
    margin-top: 3rem;
    
    background-color: #2FBF71;

}
.text22{
    position: relative;
    font-size: 90px;
    font-weight: 700;
    color: rgba(81, 91, 117, 0.072);
    margin: 0;
    margin-top: -4rem;
    top: 0;
    width: 100%;
    text-transform: uppercase;

}
.info1{
    background-color: #10192d;
    border: 1px solid;
    padding: 30px 0px 25px;
    width: 31.40% !important;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.info1 .fp{
    font-size: 40px;
    color: #919191;
}
.info1 h3{
    font-size: 16px;
    margin-top: 1.2rem;
    letter-spacing: 1px;
}
.info1:hover .fp{
    color: #2FBF71;
    transition: .8s ease;
    cursor: pointer;
}
.text12{
    border-bottom: 2px solid #2FBF71;
    width: 270px;
}
.text11{
    color: #a9adb8 !important;
} 
 #floatingInput{
    color: #ffff;
    border: 1px solid #232935;
    background-color: #101624 !important;
}
button.btn.btn1{
    margin-top: -.7rem;
    z-index: 5;
    position: relative;
    background: none;
    border: 2px solid #2FBF71;
    transform: color 0.6s linear;
}
button.btn.btn1:hover{
    border: 2px solid #2FBF71;
}
button.btn.btn1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2FBF71;
    transition: 0.5s;
    transform-origin: 0 1;
    transform: scaleX(0);
    z-index: -1;
}
button.btn.btn1 a{
    color: #FFFF;
    text-decoration: none;
    z-index: 1;
}
button.btn.btn1:hover::before{
    transform: scaleX(1);
} 
.responsive-map{
    overflow: hidden;
    padding-bottom:82%;
    position:relative;
    }
    .responsive-map iframe{
    left:0;
    top:1.4rem;
    height:100%;
    width:100%;
    position:absolute;
    }






    @media screen and (min-width: 320px) and (max-width: 374px){
        .info1{
           width:100% !important;
        
        }
        .text22{
            display: none;
        }
        .text12{
            width: 220px;
        }
        .skills1{
            margin-left: 0rem !important;
        }
        .skills1{
            font-size: 32px;
            margin-top: 0rem;
        }
        .info1{
            margin-left: 0px !important;
        }
      
    }


    @media screen and (min-width: 375px) and (max-width: 424px){
        .info1{
           width:100% !important;
        
        }
        .text22{
            display: none;
        }
        .text12{
            width: 220px;
        }
        .skills1{
            margin-left: 0rem !important;
        }
        .skills1{
            font-size: 32px;
            margin-top: 0rem;
        }
        .info1{
            margin-left: 0px !important;
        }
      
    }


    @media screen and (min-width: 425px) and (max-width: 767px){
        .info1{
           width:100% !important;
        
        }
        .text22{
            display: none;
        }
        .text12{
            width: 230px;
        }
        .skills1{
            margin-left: 0rem !important;
        }
        .skills1{
            font-size: 32px;
            margin-top: 0rem;
        }
        .info1{
            margin-left: 0px !important;
        }
      
    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
        .info1{
           width:31% !important;
           margin-left: .46rem !important;
        
        }
        .text12{
            width: 250px;
        }
        .skills1{
            font-size: 34px;
            margin-top: 0rem;
        }
        .text22{
            font-size: 64px;
            margin-top: -3.5rem;
        }
      
      
    }

    @media screen and (min-width: 1024px) and (max-width: 1240px){
        .info1{
           width:31% !important;
           margin-left: .46rem !important;
        
        }
        .text12{
            width: 260px;
        }
        .skills1{
            font-size: 34px;
            margin-top: 3rem;
        }
        
        .text22{
            font-size: 64px;
            margin-top: -3.5rem;
        }
    }


    @media screen and (min-width: 1440px) and (max-width: 2560px){
       
        .text12{
            width: 260px;
        }
       
      
        .skills1{
            margin-top: 5rem !important;
            font-size: 45px;
        }
        .skills1::before{
            margin-top: 3.8rem;
        }
        .skills1::after{
            margin-top: 3.8rem;
        }
        .text22{
            font-size: 95px;
            margin-top: -4.7rem;
        }
    }

    
