
.skills0{
  position: relative;
  margin-left: 8rem;
 
}
.skills1{
  color: #FFFF;
  font-size: 32px;
  margin-top: 2rem !important;

  
}
span{
  color: #FF714A;
}
.skills1::before{
  content: '';
  position: absolute;
  width:115px;
  height: 2px;
  left:42%;
  margin-top: 3rem;
  background-color: #3f4551;

}
.skills1::after{
  content: '';
  position: absolute;
  width:40px;
  height: 2px;
  left:50%;
  transform: translateX(-50%);
  margin-top: 3rem;
  
  background-color: #FF714A;

}
.text23{
  position: relative;
  font-size: 90px;
  font-weight: 700;
  color: rgba(81, 91, 117, 0.072);
  margin: 0;
  margin-top: -6.5rem;
  margin-left: 4rem;
  top: 0;
  width: 100%;
  text-transform: uppercase;

}
.btn1 {
    border: 2px solid #202632;
    /* height: 30px; */
    color: #ffffff;
    font-size: 14px;
    margin-right: 2px;
}
.btn1:hover{
    background-color: transparent;
    border: 2px solid #FF714A;
   transition: .7s ease;
   color: #FF714A;
}
.portfolio-menu{
  margin-right: -20px;
}
.row1{
  padding-left: 2rem;
  padding-right: 2rem;
}

 
  
 
 .pd img{
  height: 200px;
  transition: all ease 0.5s ;
  /* margin-right: -200px !important; */
  
 }




