.navbar{
  position: sticky;
  top: 0;
  z-index: 999;
}
.skills0{
  position: relative;
 
}
.skills1{
  color: #FFFF;
  font-size: 32px;
  margin-top: 3rem !important;

  
}

span{
  color: #2FBF71;
}
.skills1::before{
  content: '';
  position: absolute;
  width:115px;
  height: 2px;
  left:50%;
  transform: translateX(-50%);
  margin-top: 3rem;
  background-color: #3f4551;

}
.skills1::after{
  content: '';
  position: absolute;
  width:40px;
  height: 2px;
  left:50%;
  transform: translateX(-50%);
  margin-top: 3rem;
  
  background-color: #2FBF71;

}
.text23{
  position: relative;
  font-size: 90px;
  font-weight: 700;
  color: rgba(81, 91, 117, 0.072);
  margin: 0;
  margin-top: -6.5rem;
  top: 0;
  width: 100%;
  text-transform: uppercase;

}
@media screen and (max-width:600px) {
  .text23{
    display: none;
  }
}
.btn1 {
    border: 2px solid #202632;
    /* height: 30px; */
    color: #ffffff;
    font-size: 14px;
    margin-right: 2px;
}
.btn1:hover{
    background-color: transparent;
    border: 2px solid #2FBF71;
   transition: .7s ease;
   color: #2FBF71;
}
.portfolio-menu{
  margin-right: -20px;
}
.row1{
  padding-left: 2rem;
  padding-right: 2rem;
}

 .pd img{
  width: 100%;
  transition: all ease 0.5s ;
 }
 @media screen and (min-width:320px) and (max-width:374px) {
  .skills1{
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
    
}

.row1{
  padding-left: .8rem;
  padding-right: .8rem;
  
}
.btn1 {
  font-size: 12px;
  margin-bottom: 5px !important;
}
.portfolio-menu{
  margin-right: -10px;
}
 }


 @media screen and (min-width:375px) and (max-width:424px) {
  .skills1{
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
    
}
.row1{
  padding-left: .8rem;
  padding-right: .8rem;
  
}
.btn1 {
  font-size: 12px;
  margin-bottom: 5px !important;
}
.portfolio-menu{
  margin-right: -10px;
}
 }

 @media screen and (min-width:425px) and (max-width:767px) {
  .skills1{
    margin-top: 0rem !important;
    margin-bottom: 1rem !important; 
}

.row1{
  padding-left: .8rem;
  padding-right: .8rem;
  
}
.btn1 {
  font-size: 12px;
  margin-bottom: 5px !important;
}
.portfolio-menu{
  margin-right: -10px;
}
 }

 @media screen and (min-width:768px) and (max-width:1023px) {

.skills1{
    margin-top: 0rem !important;
    margin-bottom: -0.7rem !important;
    
}
.row1{
  padding-left: .8rem;
  padding-right: .8rem;
  
}
.btn1 {
  font-size: 14px;
  margin-bottom: 5px !important;
}
.portfolio-menu{
  margin-right: -10px;
}
.text23{
  font-size: 70px;
  margin-top: -2.5rem;
}
 
}

@media screen and (min-width:1024px) and (max-width:1240px) {

  .skills1{
      margin-top: 4rem !important;
      margin-bottom: -0.7rem !important;
      
  }
  .row1{
    padding-left: .8rem ;
    padding-right: .8rem ;
    
  }
  .btn1 {
    font-size: 14px;
    margin-bottom: 5px !important;
  }
  .portfolio-menu{
    margin-right: -10px;
  }
  .text23{
    font-size: 70px;
    margin-top: -2.5rem;
  }
   
  }


  @media screen and (min-width:1440px) and (max-width:2560px) {

    .skills1{
      font-size: 50px;
      margin-top: 3rem !important;
      margin-bottom: -0.7rem !important;
      
  }
  .skills1::before{
      margin-top: 3.5rem !important;
  }
  .skills1::after{
      margin-top: 3.5rem !important;
    
    }
    .text23{
      font-size: 100px !important;
      margin-top: -3.9rem !important;
    }
    .row1{
      padding-left: 1.5rem ;
      padding-right: 1.5rem ;
      
    }
    .btn1 {
      font-size: 18px;
    }
    .portfolio-menu{
      margin-right: -11px;
    }
    .text23{
      font-size: 70px;
      margin-top: -2.5rem;
      margin-left: 4rem;
    
    }
     
    }

