*{
    padding: 0px;
    margin: 0px;
}
.nav-link {
    transition: all 0.4s ease;
  }
  
  .nav-link i {
    transition: color 0.4s ease;
  }
  
  .nav-link.active {
    background-color: #0c1425;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .nav-link.active i {
    color: #2FBF71 !important;
  }
  @keyframes fadeInActive {
    from {
      background-color: transparent;
      color: #ccc;
    }
    to {
      background-color: #0c1425;
      color: #ffffff;
    }
  }
  
  .nav-link.active {
    animation: fadeInActive 0.4s ease forwards;
  }
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
}
.skills0{
    position: relative;
}

.skills1{
    color: #FFFF;
    font-size: 32px;
    margin-top: 3rem !important; 
}
span{
    color: #2FBF71;
}
.skills1::before{
   content: '';
  position: absolute;
  width:115px !important;
  height: 2px !important;
  left:50% !important;
  transform: translateX(-50%) !important;
  margin-top: 3rem !important;
  background-color: #3f4551 !important;

}
.skills1::after{
   content: '';
  position: absolute;
  width:40px !important;
  height: 2px !important;
  left:50% !important;
  transform: translateX(-50%) !important;
  margin-top: 3rem !important;
  
  background-color: #2FBF71;

}
.text23{
    position: relative;
    font-size: 90px;
    font-weight: 700;
    color: rgba(81, 91, 117, 0.072);
    margin: 0;
    margin-top: -6.5rem;
    top: 0;
    width: 100%;
    text-transform: uppercase;

}

@media (width < 767px) {
    .text23{
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:2560px) {


.text23{
  margin-left: 0rem !important;
}
 
}
.fn{
    display: inline;
}
.p1{
    display: inline;
}

.rowtext1{
    padding-left: 10px;
   
}
.rowtext1, .fn{
    font-size: 35px;
    color: #373E4A;
}
.rowtext1,.p1{
    color: #FFFFFF;
    font-weight: 400;
}
.rowtext2{
    border-left: 1px solid ;
    padding-left: 40px;
    margin-left: 20px; 
}
.rowtext12{
    position: relative;
    
}
.rowtext12::before{
     content: '';
     top: 2rem;
     position: absolute;
     border-radius: 50%;
     background-color: #070D1B;
     width: 13px;
     height: 13px;
     border: 1px solid #2FBF71;
     margin-left: -2.9rem;
     
}
/* .rowtext2:hover .rowtext12::before{
    background-color: rgb(248, 248, 248);
} */
.rowtext12 h2{
    color: #2FBF71;
    font-size: 30px;
}
.rowtext12 h5{
    color: #A9ADB8;
}
.rowtext12 h4{
    color: #F5F3F8;
    font-size: 22px;
}
.rowtext12 h6{
    color: #A9ADB8;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1.3px;
    word-spacing: 3px;
}
.btn1{
    background: transparent;
    border: 2px solid #2FBF71;
    
}



/* skill start */

.animated-text{
    top: -2rem;
    margin-left: -2rem;
    font-size: 20px;
    list-style: none;
    animation: animation-two 6s infinite;
}
@keyframes animation-two{
    0%, 12.66%, 100%{
        transform: translate3d(0,10,0);
    }
    16.66%, 29.32%{
        transform: translate3d(0,-41%,0);
    }
   33.32%, 45.98%{
        transform: translate3d(0,-75%,0);
    }
  
    66.64%, 79.3%{
        transform: translate3d(0,-75%,0);
    }
    83.3%, 95.96%{
        transform: translate3d(0,-41%,0);
    }
    
}


span{
    color: #2FBF71;
}

.skills2{
    position: relative;
}

.skills3{
    color: #FFFF;
    font-size: 32px;
    margin-top: 3rem !important;
}
.skills3::before{
    content: '';
    position: absolute !important;
    width:115px !important;
    height: 2px !important;
    left:50% !important;
    transform: translateX(-50%) !important;
    margin-top: 3rem !important;
    background-color: #3f4551 !important;

}
.skills3::after{
    content: '';
    position: absolute !important;
    width:40px !important;
    height: 2px !important;
    left:50% !important;
    transform: translateX(-50%) !important;
    margin-top: 3rem !important;
    background-color: #2FBF71 !important;

}
.text22{
    position: relative;
    font-size: 90px;
    font-weight: 700;
    color: rgba(81, 91, 117, 0.072);
    margin: 0;
    margin-top: -6.8rem !important;
    margin-left: 8rem;
    top: 0;
    width: 100%;
    text-transform: uppercase;

}
@media (width < 767px) {
    .text22{
        display: none;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .text22{
        margin-left: 1.5rem;

    }
}
@media only screen and (min-width:1024px) and (max-width:1240px){
    .text22{
        margin-left: 1.5rem;

    }
}
@media screen and (min-width: 425px) and (max-width: 2560px) {
    .skills2::after{
    background-color: #2FBF71 !important;
}
.skills1::after{
    background-color: #2FBF71 !important;
}
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .skills2 {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .skills1::before{
        margin-left: 12% !important;
    }
    .text23{
        top: 0.5rem !important;
    }
    .skills3{
        margin-left: -16.5rem !important;
    }

    .skills3::before{
        margin-left: -5% !important;
    }

    .skills3::after{
        margin-left: -17% !important;
    }

}


.progress-title{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 10px 0;
}
.progress{
    height: 20px;
    line-height: 15px;
    border-radius: 20px;
    background: #f0f0f0;
    margin-bottom: 30px;
    box-shadow: none;
    overflow: visible;
}
.progress .progress-bar{
    position: relative;
    border-radius: 20px 0 0 20px;
    background-color: #2FBF71;
    animation: animate-positive 2s;
}
.progress .progress-value{
    display: block;
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 8px;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}
.btn{
    margin-left: 7rem  !important;
}
.btn1{
    margin-top: -.7rem;
    z-index: 5;
    position: relative;
    background: none;
    border: 2px solid #2FBF71;
    transform: color 0.6s linear;
}
.btn1:hover{
    border: 2px solid #2FBF71;
}
.btn1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2FBF71;
    transition: 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaley(0);
    z-index: -1;
}
.btn1 a{
    color: #FFFF;
    text-decoration: none;
    z-index: 1;
}
.btn1:hover::before{
    transform: scaley(1);
} 
