

  /* desktop view start */
header{
    width: 230px;
    height: 100vh;
    background-color: bisque;
    position: relative;
    min-height: 100%;
    background-color: #070D1B;
    padding: 0px !important;
}
@media only screen and (max-width: 1023px){
    header{
        display: none;
    }
    main{
        margin-left: 0 !important;
    }
}

header .top-img img{
    width: 50%;
    border: 8px solid #202632;
    border-radius: 50%;
}

header .text1{
    font-size: 23px;
}

header .icon-bar ul li{
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 33px;
    border-radius: 50%;
    background-color: #202632;
    display: inline-block;
    color: white;
    margin-right: 10px;
    margin-top: 5px;
}
header .text2 {
    position: absolute;
    bottom: 0;
    color: #5C6073;
}
header .icon-bar ul li:hover{
    background-color: #FF714A;
    color: white;
    transition: .8s ease;
}
header .icon-bar ul{
    padding-left: 0rem;
    
}
.menubar {
    padding: 0px !important;
}
header .menubar a{ 
    padding-bottom:15px;
    padding-top: 15px;
    color: #FFFF;
    font-size: 17px;
    padding: auto 60px auto 70px;
    border-bottom: 1px solid #121a2a;
    letter-spacing: 1.2px;
}
header .menubar ul li a:hover{
    color: #FF714A;
    background-color: #0c1425;
    transition: .4s ease;
    padding-bottom:15px;
    padding-top: 15px;
}
header .menubar li.active a:after {
    background-color: #ff714a;
}
.fa{
    margin-right: 10px;
    margin-left: -25px;
}
/* desktop view end */

/* mobile view start */

.bg2{
    background-color: #070D1B ;
}

.name1{
    color: #FFFF !important;
}
.offcanvas-header{
    background-color: #070D1B;
    border-bottom: 1px solid #121a2a;
}

.menu2 a{ 
    padding-bottom:10px;
    padding-top: 10px;
    color: #FFFF;
    font-size: 17px;
    padding: auto 60px auto 70px;
    border-bottom: 1px solid #121a2a;
}
.menu2{
    background-color: #070D1B;
    padding: 0rem !important;
    padding: 25px 0  !important;
    
}

.menu2 ul{
    padding-right: 0rem !important;
}
.icon-bar1 ul li{
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 33px;
    border-radius: 50%;
    background-color: #202632;
    display: inline-block;
    color: white;
    margin-right: 10px;

    
}

.icon-bar1 ul{
    padding-left: 0rem;
    margin-top: 7rem;
    
}
.icon-bar1 a{
    border-bottom: none;
}
.icon-bar1{
    margin-top: 5rem !important;
}


.icontest{
    background-color: transparent;
    outline: none;
    border: none;
}
.fg{
    font-size: 27px;
    color: white !important;
} 
nav  .text2{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    color: #5C6073;
    text-align: center;
}
@media screen and (max-width:425px){
    .offcanvas.offcanvas-start{
        width: 85% !important;
    }
    nav  .text2{
       font-size: 14px;
    }
    
}

/* mobile view end */


/* Home start */


main{
    height: auto;
    margin-left: 240px;
    background-color: #070D1B;
    
 }
 
 .text111{
    
    /* margin-top: 12rem;
    margin-left: 2rem; */
    }
    
    /* .first-text{
    font-size: 37px;
    font-weight: 700;
    }
    .text56{
        font-size: 45px;
        font-weight: 700;
        }
    .text111 .sec-text{
    font-size: 30px;
    color: #FFFF;
    font-weight: 500;

    }
    .text111 .third-text{
    font-size: 30px;
    color: #FF714A;
    letter-spacing: 3px;
    border-bottom: 2px solid #FF714A;

    } */
   
 .homeimg{
    width: 100%;
    height: 100%;
    position: relative;
 }

 .greenborder{
    position: absolute;
    z-index: 1;
}
.me{
    z-index: 999;
    position: absolute;
    border-radius: 100%;
}
/* .xd{
    z-index: 999;
    position: absolute;
    width: 4%;
    top: 8rem;
    right: 28.5rem;
}
.wordpress{
    z-index: 999;
    position: absolute;
    width: 4%;
    top: 8rem;
    right: 6.3rem;
}
.html5{
    z-index: 999;
    position: absolute;
    width: 4%;
    top: 22rem;
    right: 32.3rem;
}
.php{
    z-index: 999;
    position: absolute;
    width: 4%;
    top: 22rem;
    right: 2.3rem;
} */

/* Waves Animation start*/
.hero_area{
    position: relative;
    height: 14vh;
}
.waves {
    position: absolute;
    width: 100%;
    min-height: 80px;
    max-height: 100px;
    bottom: 0;
    left: 0;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s; 
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .hero_area{
        height: 4vh !important;
    }
    .waves {
        height: 40px !important;
        min-height: 40px !important;
    }
}

/* Waves Animation end*/


