
/*------------------------------------------*/
/*home mobile view  start */
/* .home-mobile{
    width: auto ;
    height: 651px;
}
.home-all{
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.661)),url(../image/me.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
} */
/* @media (width > 767px) {
    .home-mobile{
        display: none !important;
    }
} */
/* @media (width < 767px) {
    .home-mobile{
        height: 100vh;
    }
}
@media only screen and  (min-width:378px) and (max-width:395px) {
    .home-mobile{
        height:90vh !important; 
    }
} */
/*home mobile view end*/
/*------------------------------------------*/

/* .home-mobile{
    height: 100vh;
    background-image: url(..//image/me.jpg);
    background-position: center;
    background-size: cover;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    background-image: url(../image/me.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
