@media screen and (min-width: 768px) and (max-width: 1023px){
    .card-title{
        margin-top: 1rem !important;
    }
    .about1 img{
        margin-top: 1rem !important;
    }
}


/* service start */


@media screen and (min-width: 320px) and (max-width: 374px){
    .skills0{
        margin-left: 0rem !important;
    }
    .skills1{
        margin-left: 0rem !important;
    }
    .skills1::before{
        content: '';
        position: absolute;
        width:170px;
        height: 2px;
        left:23%;
        margin-top: 3rem;
        background-color: #3f4551;
    
    }
    .skills1::after{
        content: '';
        position: absolute;
        width:70px;
        height: 2px;
        left:50%;
        transform: translateX(-50%);
        margin-top: 3rem;
        
        background-color: #FF714A;
    
    }
    .card1{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 1rem;
        margin-top: 1.7rem;
        width: 18rem;

    }
    .card2{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 1rem;
        margin-top: -1.7rem;
        width: 18rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    .skills1{
        margin-left: 0rem !important;
    }
    .skills1::before{
        content: '';
        position: absolute;
        width:170px;
        height: 2px;
        left:27%;
        margin-top: 3rem;
        background-color: #3f4551;
    
    }
    .skills1::after{
        content: '';
        position: absolute;
        width:70px;
        height: 2px;
        left:50%;
        transform: translateX(-50%);
        margin-top: 3rem;
        
        background-color: #FF714A;
    
    }
    .card1{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 1.2rem;
        margin-top: 1.7rem;
        width: 21.3rem;

    }
    .card2{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 1.2rem;
        margin-top: -1.7rem;
        width: 21.3rem;
    }
}


@media screen and (min-width: 425px) and (max-width: 767px){
    .skills1{
        margin-left: 0rem !important;
    }
    .skills1::before{
        content: '';
        position: absolute;
        width:170px;
        height: 2px;
        left:30%;
        margin-top: 3rem;
        background-color: #3f4551;
    
    }
    .skills1::after{
        content: '';
        position: absolute;
        width:70px;
        height: 2px;
        left:50%;
        transform: translateX(-50%);
        margin-top: 3rem;
        
        background-color: #FF714A;
    
    }
    .card1{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 2.5rem;
        margin-top: 1.7rem;
        width: 21.3rem;

    }
    .card2{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 2.5rem;
        margin-top: -1.7rem;
        width: 21.3rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .skills0{
        position: relative;
        left: 5rem;
    }
    .skills1{
        margin-left: 0rem !important;
    }
    
    .skills1::before{
        content: '';
        position: absolute;
        width:170px;
        height: 2px;
        left:33%;
        margin-top: 3rem;
        background-color: #3f4551;
    
    }
    .skills1::after{
        content: '';
        position: absolute;
        width:70px;
        height: 2px;
        left:50%;
        transform: translateX(-50%);
        margin-top: 3rem;
        
        background-color: #FF714A;
    
    }
    .card1{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 2.3rem;
        margin-top: 1.7rem;
        width: 90%;
        margin-right: 5rem;

    }
    .card2{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 2.3rem;
        margin-top: -1.7rem;
        width: 90%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px){
    .skills0{
        position: relative;
        left: 1rem;
    }
    
    .skills1::before{
        content: '';
        position: absolute;
        width:177px;
        height: 2px;
        left:42%;
        margin-top: 3rem;
        background-color: #3f4551;
    
    }
    .skills1::after{
        content: '';
        position: absolute;
        width:60px;
        height: 2px;
        left:59%;
        transform: translateX(-50%);
        margin-top: 3rem;
        
        background-color: #FF714A;
    
    }
    .text22{
        position: relative;
        font-size: 60px;
        font-weight: 700;
        color: rgba(81, 91, 117, 0.072);
        margin: 0;
        margin-top: -4rem;
        margin-left: 2rem;
        top: 0;
        width: 100%;
        text-transform: uppercase;
    
    }
    .card1{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 1rem;
        margin-top: 1.7rem;
        width: 14.50rem;

    }
    .card2{
        padding: 20px;
        border-radius: 10px;
        background-color: #101624;
        margin-left: 1rem;
        margin-top: 1.7rem;
        width: 14.50rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2560px){
    .skills1{
       font-size: 40px;
       margin-left: 13rem;
    }
    
    .skills1::before{
        content: '';
        position: absolute;
        width:220px;
        height: 2px;
        left:49%;
        margin-top: 3rem;
        background-color: #3f4551;
    
    }
    .skills1::after{
        content: '';
        position: absolute;
        width:80px;
        height: 2px;
        left:62%;
        transform: translateX(-50%);
        margin-top: 3rem;
        
        background-color: #FF714A;
    
    }
    .text22{
        position: relative;
        font-size: 80px;
        margin-top: -4rem;
        margin-left: 8rem;
        top: 0;
        width: 100% !important;
        text-transform: uppercase;
    
    }
    .card1{
        width: 23.20rem;
    }
    .card2{
        width: 23.20rem;
    }
}


